# EXAMPLE .ENV FILE FOR AWS TRUST POLICY AND PERMISSIONS CONFIGURATION

# GitHub
GITHUB_ORG=
GITHUB_ORG_ID=
GITHUB_REPO=
GITHUB_REPO_ID=

# AWS account
AWS_ACCOUNT_ID=
AWS_REGION=
IAM_USERNAME=

# IAM — bootstrap role
BOOTSTRAP_ROLE_NAME=bootstrap-role
BOOTSTRAP_ROLE_POLICY_NAME=bootstrap-permissions-policy

# IAM — OIDC role
OIDC_ROLE_NAME=github-actions-role
OIDC_ROLE_POLICY_NAME=github-actions-permissions-policy

# ECR
ECR_REPO_NAME=
ECR_REPO_PREFIX=